# pycharm stuff and packages
.idea
venv
.venv
.env
workspace.xml
*.pyc
.ruff_cache
__pycache__
.pytest_cache
.mypy_cache

uploads

/temp/

# data
src/frontend/static/images/*
*.jpg
config/settings.yaml

# unnecessary stuff
gutenprint-5.3.4-2023-12-06T01-00-2ef8ba24
gutenprint-5.3.4-2023-12-06T01-00-2ef8ba24.tar.xz