<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Config Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="content">
        <h1>File Upload and Display</h1><br>
        <p> Add Images for nice custom layouts or delete existing ones !</p>
        <p> Naming: with a number like 1, 2, 3 in the filenames they will be considered for the number of images selected by user <br>
            with "general" they will be considered for all as a backup</p>
        <div class="container">


            <a href="{{ url_for('wifi_bp.barcode_scanner') }}">
                <button>Setup the Wifi</button>
            <a href="{{ url_for('index') }}">
                <button>Back to Start</button>
            </a>
        </div>
    </div>
</body>
</html>
