<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="/static/autoRedirect.js"></script>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Oh No something went Wrong!</h1>
            <p>just wait I will bring you back to safety</p>
        </div>
    </div>
</body>
</html>