<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Preview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="container">
        <video id="video" width="640" height="480" autoplay></video>
        <div id="countdown">5</div>
    </div>
    <img id="capturedImage" style="display: none;">

    <script>
        var numInJavaScript = {{ num_images }};
        var originNum = {{ num_images }};
    </script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>